//- Разбор массива

//- each item in slider.name

-
	var
		social = {
			item : [
			{
				link : '#',
				icon : 'twitter',
			},
			{
				link : '#',
				icon : 'google',
			},
			{
				link : '#',
				icon : 'facebook',
			}
			
		]}

-
	var
		nav = {
			item : [
			{
				link : '#',
				name : 'О компании',
			},
			{
				link : '#',
				name : 'Новости',
			},
			{
				link : '#',
				name : 'Акции',
			},
			{
				link : '#',
				name : 'Услуги',
			},
			{
				link : '#',
				name : 'Прайс-лист',
			},
			{
				link : '#',
				name : 'Доставка и оплата',
			},
			{
				link : '#',
				name : 'Сотрудничество',
			},
			{
				link : '#',
				name : 'Статьи',
			}
			
		]}


-
	var
		nav_slider = {
			item : [
			{
				link : '#',
				img : '1.jpg',
				title: '1'
			},
			{
				link : '#',
				img : '2.jpg',
				title: '2'
			},
			{
				link : '#',
				img : '3.jpg',
				title: '3'
			},
			{
				link : '#',
				img : '1.jpg',
				title: '1'
			},
			{
				link : '#',
				img : '2.jpg',
				title: '2'
			},
			{
				link : '#',
				img : '3.jpg',
				title: '3'
			},
		]}

-
	var
		about_us = {
			item : [
			{
				head : 'Наши сферы:',
				icon : 'home',
				more: ['системы отопления', 'вентиляция', 'кондиционирование', 'электро- и водоснабжение']
			},
			{
				head : 'Мы профессионально занимаемся: ',
				icon : 'worker',
				more: ['проектированием, ', 'монтажом, ', 'наладкой', 'обслуживанием оборудования']
			},
			{
				head : 'Мы организуем: ',
				icon : 'basket',
				more: ['продажу,', 'установку', 'сервис техники', 'предоставлением гарантии']
			}
		]}
-
	var
		news = {
			items: [
				{
					category_name: ' Кондиционеры',
					products: [
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						}]
					
				},
				{
					category_name: ' Кондиционеры',
					products: [
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						},
						{
							name: 'PANASONIC S-F24DB4E5/U-B24DBE5',
							category: 'Настенные сплит-систем',
							price: '1931 $',
							top: true,
							image: 'images/products/1.jpg'
						}]
					
				}
				
			]
		}


-
	var
		posts = 
			[
			{
				name: 'Кондиционеры — муки выбора',
				text: 'Современную квартиру в Одессе сложно представить без кондиционера. Спрос на это оборудование постоянно растет, особенно готовясь к летнему сезону. Не нужно напоминать о том, что стоит выбирать кондиционеры проверенных и известных производителей.',
				image: 'images/posts/1.jpg'
			},
			{
				name: 'Кондиционеры — муки выбора',
				text: 'Современную квартиру в Одессе сложно представить без кондиционера. Спрос на это оборудование постоянно растет, особенно готовясь к летнему сезону. Не нужно напоминать о том, что стоит выбирать кондиционеры проверенных и известных производителей.',
				image: 'images/posts/1.jpg'
			}

			]
		